<div collection='Event' by='is_public' with='true' limit='10' ng-show='Events_loaded'>
	<h2>Public Events</h2>
	Showing {{Events.length}} events.
	<div ng-repeat='Event in Events' style='margin-top: 0.em; border-top: 1px solid #999'>
		<h3><a href='#' ui-sref='authed.event({event_id:Event.$id})'>{{Event.name}}</a></h3>
		<img ng-src='{{Event.card_pic}}' width=64 height=64/>
		<div collection='EventOwner' by='event_key' with='{{Event.$id}}'>
			<h5>Event Owners</h5>
			<div ng-repeat='EventOwner in EventOwners' model='Profile' with='{{EventOwner.profile_key}}'>
				<img ng-src='{{Profile.profile_pic_url}}' width=32 height=32 style='border-radius: 16px;'/>
				{{Profile.name_first}} {{Profile.name_last}} ({{Profile.karma_earned}})
			</div>
		</div>
	</div>
</div>
